title: 'Accelerate demo page'
meta:
  'og:title': 'Accelerate demo page'
  'og:type': 'website'
  'og:url': 'https://accelerate.github.io/demo-site-plain/'
  'og:image': 'https://accelerate.github.io/demo-site-plain/images/preview.jpg'
sections:
  hero:
    title: 'Accelerate static site generator'
    text: 'This is a test page used to test the Accelerate static site generator.'
  main: '''
    [//]: # (Annotation to signal that this should be rendered as Markdown)

    # Why?

    What makes Accelerate different from other static site generators? Well,
    it actually _is_ a static site generator!

    If you think about the other static site generators that you have heard of
    or used, like Jekyll, Gatsby, Next.js etc, are they really static site
    generators? Or are they more like static site frameworks?

    We tried several of them to manage our customers many sites but always got
    into the same problems: maintainability and flexibility.

    # Maintainability
    If your site is buit _in_ a static site framework and you have to keep it
    updated that means updating the framework as well. Anyone that has spent
    any time in the Node ecosystem will know that emver is more a loose
    suggestion to many package maintainers and that your stack might ... TBC
  '''
footer:
  copyright: 'Copyright © 2020 - the Accelerate project'
  link_text: 'Accelerate - static site generator'
  link_href: 'https://github.com/accelerate-ssg/acc#readme'
