--path:"."
############# begin Atlas config section ##########
--noNimblePath
--path:"../deps/nim-regex/src"
--path:"../deps/NimYAML"
--path:"../deps/cligen"
--path:"../deps/docopt.nim/src"
--path:"../deps/glob/src"
--path:"../deps/nim-mustache/src"
--path:"../deps/nim-markdown/src"
--path:"../deps/nim-fswatch/src"
--path:"../ws/src"
--path:"../deps/nim-confutils"
--path:"../deps/nim-unicodedb/src"
--path:"../deps/nim-stew"
--path:"../deps/nim-serialization"
--path:"../deps/nim-results"
--path:"../deps/nim-unittest2"
--path:"../deps/nim-faststreams"
############# end Atlas config section   ##########
